<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New message from <%= @message.name %>, <%= @message.email %> </h1>
    <%= @message.body %>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>